body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.symbol-stroke {
  stroke: grey;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.funnel {
  fill: none;
  stroke: rgb(173, 167, 167);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.check {
  fill: none;
  stroke: rgb(179, 175, 175);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
